:root {
  --basic-black: #000000;
  --basic-red: #fb565a;
  --aiming-red: #e74246;
  --basic-white: #fff;
  --push-red: #d7373b;
  --error-red: #e74246;
  --basic-green: #00ca74;
  --aiming-green: #00bc6c;
  --push-green: #00aa62;
  --basic-yellow: #efc84a;
  --aiming-yellow: #eab534;
  --push-yellow: #e5a722;
  --grey-1: #e1e1e1;
  --grey-2: #d7dcde;
  --grey-3: #dbdbdb;
  --grey-4: #4d4d4d;
  --grey-42: rgba(0, 0, 0, 0.25);
  --grey-rest: #eeeeee;
  --grey-aiming: #dfdfdf;
  --grey-push: #d5d5d5;
}
/* global */

.page {
  height: 100%;
}
.page-body {
  min-width: 1440px;
  min-height: 100%;
  font-family: "Roboto", "roboto", Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.main-hadder {
  padding: 50px 0 0 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
  background-color: var(--basic-red);
}
ul {
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */

.site-navigation {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 437px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.site-navigation a {
  display: block;
  padding-bottom: 13px;
  padding-top: 15px;
  width: min-content;
}
.placed {
  border-bottom: 2px solid var(--aiming-red);
}

.main-nav a {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.main-nav a:hover {
  color: var(--aiming-red);
}

.wrapper-nav {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  align-items: center;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.bacground-color {
  background-color: var(--grey-rest);
}

.cart {
  position: relative;
}
.cart::before {
  content: "";
  background: url(../img/svg/cart-icon.svg);
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: -35px;
  top: 3px;
}

/* slide */

.slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-list h3 {
  font-weight: 500;
}

.slide {
  background-color: var(--grey-rest);
  /* padding-top: 80px; */
}

.slides {
  width: 1157px;
  height: 431px;
}

.text-area-slides {
  z-index: 1;
  position: absolute;
}

.slides img {
  margin-left: 397px;
}

.button-slide:hover {
  background-color: var(--aiming-red);
}
.button-slide:focus {
  background-color: var(--push-red);
}

.button-slide {
  width: 240px;
  height: 50px;
}

.slide h3 {
  font-size: 55px;
  line-height: 55px;
}

/*  possibilities  */

.possibilities {
  margin-bottom: 80px;
}

.posability-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}
.possibilities ul {
  margin: 0;
  padding: 0;
}

.button-site,
.button-prezentation,
.button-app {
  width: 160px;
  height: 50px;
}
.button-site:hover {
  background-color: var(--aiming-red);
}
.button-site:focus {
  background-color: var(--push-red);
}

.button-app {
  background-color: var(--basic-green);
}
.button-app:hover {
  background-color: var(--aiming-green);
}
.button-app:focus {
  background-color: var(--push-green);
}

.button-prezentation {
  background-color: var(--basic-yellow);
}
.button-prezentation:hover {
  background-color: var(--aiming-yellow);
}
.button-prezentation:focus {
  background-color: var(--push-yellow);
}

.posability-list {
  list-style: none;
}
.possibilities h3 {
  font-size: 24px;
}

/* mission  */

.merit-achievements {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.merit-list {
  padding-left: 40px;
}
.merit-list li::before {
  content: "";
  border-bottom: 2px solid red;
  position: relative;
  display: block;
  width: 25px;
  left: -40px;
  top: 27px;
}

.merit h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.bold {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.merit ul {
  list-style: none;
  line-height: 55px;
}

/*   achivments   */

.achievements {
  width: 360px;
  margin-top: 36px;
  text-align: center;
  padding: 0;
}
.achievements .bold {
  margin: 31px 0;
}
.achievements-heading {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}
.achievements-heading span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}
.achievements-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/*   partners   */

.partners ul {
  list-style: none;
}

.partner-list {
  width: 1159px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 45px 0px;
  list-style: none;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
  opacity: 1;
}

.partners-item img:active {
  opacity: 0.1;
}

/*   Catalog     */

.filter-item-catalog-style {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;

  width: 260px;
  margin-top: 22px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.filter-option-chekbox-list {
  display: flex;
  flex-direction: column;
  width: 172px;
  height: 179px;
  justify-content: space-between;
  line-height: 19px;
  font-size: 18px;
  color: var(--basic-black);
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-top: 5px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 3px solid var(--grey-4);
  opacity: 0.4;
  border-radius: 4px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 36px;
  height: 36px;
  background: url(../img/svg/cheked.svg) no-repeat;
}

.filter-option-radio-list {
  display: flex;
  flex-direction: column;
  width: 149px;
  height: 99px;
  justify-content: space-between;
  line-height: 19px;
  font-size: 18px;
  color: var(--basic-black);
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  border: 5px solid var(--grey-4);
  opacity: 0.4;
  left: -42px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -1px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 9px;
  width: 16px;
  height: 16px;
  background: url(../img/svg/Oval.svg) no-repeat;
}

.catalog-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 55px;
}

.catalog-main-heading {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 108px;
  margin: 0;
}
.filter-item-catalog {
  border: none;
}
/*   product   */

.product-sort {
  width: 759px;
  display: flex;
  justify-content: space-between;
  column-gap: 38px;
}

.catalog-filters {
  width: 260px;
}

.catalog-filters ul {
  list-style: none;
}

.product-filters {
  width: 359px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.arrow {
  opacity: 0.12;
}
.arrow-chosen {
  opacity: 1;
}
.arrow-up {
  transform: rotate(180deg);
}
.product-list-item {
  height: 620px;
  width: 360px;
  position: relative;
}

.product-list-item img {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.product-list {
  list-style: none;
  width: 760px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
}

.pop-up-product {
  width: 358px;
  height: 230px;
  background-color: var(--grey-rest);
  text-align: center;
  position: absolute;
  bottom: -12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
}

.pop-up-product h3 {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}
.pop-up-product p {
  padding-bottom: 32px;
}

.product-price-button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  display: block;
  margin-left: 80px;
  margin-bottom: 44px;
}

.photo-site {
  width: 358px;
  height: 578px;
}
.product-price-button:hover {
  background-color: var(--aiming-red);
}
.product-price-button:focus {
  background-color: var(--push-red);
}

.frame-product {
  opacity: 0.12;
  left: -4px;
  bottom: -15px;
  position: relative;
}
.product-list-item:hover .frame-product {
  opacity: 1;
}

.product-list-item:hover .pop-up-product {
  display: block;
}

.list-button-page {
  margin-top: 54px;
  margin-bottom: 60px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

/* .page-button {
  background-color: var(--grey-rest);
  color: var(--basic-black);
  display: inline-block;
  line-height: 18px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  list-style: none;
} */
.list-button-item a {
  display: block;
  padding: 17px 20px;
  background: var(--grey-rest);
  color: var(--basic-black);
}
.list-button-item {
  margin-right: 11px;
}
.page-button-active {
  outline: 3px solid var(--grey-3);
  background-color: #fff;
}

.button-next {
  width: 260px;
}

.reasone-3-4-5 {
  width: 1200px;
  height: 256px;
  background: var();
}

/* Footer */

.social-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-button {
  display: flex;
  width: 260px;
}
.social-button li {
  background-color: var(--grey-1);
  margin-left: 9px;
  display: inline-block;
  width: 81px;
  height: 81px;
  text-align: center;
  line-height: 90px;
  border-radius: 50px;
}

.social-button li:hover {
  background-color: var(--push-red);
}

.social-button li:active {
  border-color: var(--grey-1);
}

.footer-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  padding: 49px 76px 23px 50px;
}
.contact-list p:nth-of-type(2) {
  padding: 0px 39px 37px 50px;
  display: inline-block;
  height: 72px;
}

.contacts {
  position: relative;
  margin: 0;
  padding: 0;
}
.contact-list {
  width: 319px;
  min-height: 308px;
  background: white;
  position: absolute;
  top: 54px;
  left: 140px;
  z-index: 1;
}
.contacts-phone {
  color: inherit;
  line-height: 50px;
}

.button-contacts:hover {
  background-color: var(--aiming-red);
}
.button-contacts:focus {
  background-color: var(--push-red);
}
.button-contacts:active {
  background: var(--grey-1);
}
.button-contacts {
  width: 219px;
  height: 50px;
  display: block;
  text-align: center;
  margin-left: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 500;
}

.footer-map {
  position: relative;
}

.footer-map img {
  height: 416px;
  width: 100%;
}

.footer-map::before {
  content: "";
  display: block;
  width: 231px;
  height: 190px;
  position: absolute;
  background: url(../img/map-marker\ 1.png) no-repeat;
  z-index: 2;
  left: 860px;
  top: 115px;
}

.csocial {
  text-align: center;
}
.lets-friends {
  font-size: 36px;
  line-height: 36px;
}

.button-Feedback {
  width: 259px;
  height: 50px;
}

.button-Feedback:hover {
  background-color: var(--aiming-red);
}
.button-Feedback:active {
  border-color: var(--push-red);
}
.modal-fedback {
  width: 960px;
  height: 590px;
  /* position: absolute;
  left: 240px;
  top: 1906px; */
  background-color: grey;
}

.feedback-modal {
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  width: 760px;
  height: 590px;
  text-align: center;
  position: absolute;
  top: -160px;
  left: 340px;
  background: var(--basic-white);
  z-index: 6;
  padding-left: 101px;
  padding-right: 59px;
  box-shadow: 0px 10px 15px #d7dcde;
  display: grid;
}

.feedback-modal h2 {
  grid-column: 1/-1;
}
.feedback-modal div {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-right: 40px;
}

.feedback-modal button {
  grid-column: 1/-1;
}

.fedback-text {
  grid-column: 1/-1;
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  background: transparent;
  border: 0;
  cursor: pointer;
  left: 749px;
  top: 50px;
}

.modal-close::after {
  content: "";
  background: url(../img/svg/close-cross.png);
  position: absolute;
  width: 21px;
  height: 21px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.qwertyu123 {
  padding: 12px;
}
